<%- include("./partials/header.ejs") %>
<title>Error </title>
<%- include("./partials/navbar.ejs") %>

<div class="container">
     <h1 class="my-4" >Something is wrong please enter right details</h1>
     <a  href="/login">
          <button class="btn btn-primary">Go Home</button>
     </a>
</div>

<%- include("./partials/footer.ejs") %>