<%- include("./partials/header.ejs") %>
<title>Error </title>
<%- include("./partials/navbar.ejs") %>

<div class="container">
     <h1 class="my-4" >Please Enter Unique details , These are in used</h1>
     <a  href="/signup">
          <button class="btn btn-danger">Try Again</button>
     </a>
</div>

<%- include("./partials/footer.ejs") %>