<%- include("./partials/header.ejs") %>
<title>SignUp Page</title>
<%- include("./partials/navbar.ejs") %>


<div class="container mt-4">
  <h1 class="mb-3 text-center">Signup Form</h1>

     <form action="/post-signup" method="post">
     <div class="  mb-3">
       <label for="name" class="form-label">Enter your name</label>
       <input type="text" name="fullName" class="form-control" id="name" aria-describedby="name" required>
     </div>
     <div class="  mb-3">
       <label for="email" class="form-label">Email address</label>
       <input type="email" class="form-control" id="email" aria-describedby="email" name="email" required>

     </div>
     <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
     </div>
     <div class="mb-3">
      Already have an account ? <a class="navbar-brand" href="/login" style="font-weight: bolder;">Login</a>
    </div>
     <button type="submit" class="btn btn-primary">Signup</button>
</form>
</div>

<%- include("./partials/footer.ejs") %>
